:root{
    --color_A: #f5eeee;
    --color_B: #d0d7dd;
    --color_C: #ffffff;
    --color_D: #cec5c5;
    --color_E: #c4c0c0;
    --color_J: #5265AB;
    --color_K: #ADBFFF;
    --color_L: #8FA6F7;
    --color_M: #AB8F41;
    --color_N: #F7DC8F;
    --color_O: #F9F1DB;
    --color_P: #FAFBFF;
    --color_Q: #E0D9C5;

}

* {
    box-sizing: border-box;
    
  }

  body {
      background-color: var(--color_O);
      font-family: 'Bai Jamjuree', sans-serif;
  }

  h1{
      text-decoration: underline;
      font-family: 'Chakra Petch', sans-serif;
  }

  table {
  border-radius: 15px
  }

.image-news img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newscard {
    min-width: 250px;
    max-width: 630px;
}
.coin-symbol{
  
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-top: 10px;
}

.graph_title{
    display: inline-block;
}

.pos_trend{
    color: rgb(0, 199, 0);

}

.neg_trend{
    color: red;

}

/* Adds scroll to coin details */
#details-coin {
overflow: auto;
height: 350px;
}

.hide{
    display: none;
}

.accordion {
    background-color: var(--color_Q);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1em;
    text-align: center;
 
    
    
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active .accordion:hover {
    background-color: rgb(167, 165, 165);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: none;

    overflow: auto;
    
    
  }
  
  .color_B{
      background-color: var(--color_B);
  }

  .color_C{
      background-color: var(--color_C);
  }
 .section{
     background-color: var(--color_K);
     
 }
 

  .color_D{
      background-color: var(--color_D);
  }

  .color_E{
      background-color: var(--color_E);
  }
  
  .color_J{
      background-color: var(--color_J);
  }

  .color_K{
      background-color: var(--color_K);
  }

 .color_L{
      background-color: var(--color_L);
  }

  .color_M{
      background-color: var(--color_M);
  }

  .color_N{
      background-color: var(--color_N);
  }

  .color_O{
      background-color: var(--color_O);
  }

  .color_P{
      background-color: var(--color_P);
  }

  .color_Q{
      background-color: var(--color_Q);
  }

#coin_search{
    position: relative;
}
  
#coin_name, #coin_price{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0.75rem;
}

#coin_header{
    border-bottom: var(--color_M) solid 2px;
}

#myChart{
    border-top: var(--color_M) solid 2px;
}

.help{
    position: absolute;
    top: -35px;
    color: red;
    padding: 5px;

}


  li{
    font-size: 13px;
    display: flex;
    align-items: center;
  }

  li img{
      margin-right: 5px;
  }
  li span{
      margin-left: 5px;
  }

  #ticker{
      background-color: var(--color_P);
  }